{% extends 'studio/base.html' %}
{% block title %}Профиль{% endblock %}
{% block header %}
<nav>
    <ul>
        <li><a href="{% url 'main' %}">Главная</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'view_requests' %}">Посмотреть заявки</a></li>
        <li><a href="{% url 'create_request' %}">Создать заявку</a></li>
        <li><a href="{% url 'logout' %}">Выйти</a></li>
        {% if user.is_superuser %}
        <li><a href="{% url 'admin_design_requests' %}">АдминПанель</a></li>
        {% endif %}
        {% else %}
        <li><a href="{% url 'register' %}">Регистрация</a></li>
        <li><a href="{% url 'login' %}">Войти</a></li>
        {% endif %}
    </ul>
</nav>
{% endblock %}
{% block content %}
<main class="block-profile">
    <div>
        <img src="{{ user.userprofile.avatar.url }}" alt="{{ user.username }}" class="profile-avatar">
        <h2>Логин: {{ user.username }}</h2>
        <h2>ФИО: {{ user.userprofile.last_name }}
            {{ user.userprofile.first_name }}
            {% if user.userprofile.middle_name %}
            {{ user.userprofile.middle_name }}
            {% endif %}</h2>
        <p>Почта: {{ user.email }}</p>
    </div>
</main>
{% endblock %}
